#customlistjournal {
    /* delete default counter */
    list-style-type: none;
    /* create custom counter and set it to 0 */
    /* counter-reset: elementcounter 100; */
    padding-left:2em; text-indent:-2em;
}

#customlistjournal>li:before {
    /* print out "Element " followed by the current counter value */
    content: "[J" counter(elementcounter) "]";
    padding-right:0.2em; 
    /* increment counter */
    counter-increment: elementcounter -1;
}

#customlistconference {
    /* delete default counter */
    list-style-type: none;
    /* create custom counter and set it to 0 */
    /* counter-reset: elementcounter;*/
    padding-left:2em; text-indent:-2em;
}

#customlistconference>li:before {
    /* print out "Element " followed by the current counter value */
    content: "[C" counter(elementcounter) "]";
    padding-right:0.2em; 
    /* increment counter */
    counter-increment: elementcounter -1;
}

#customlisttalk {
    /* delete default counter */
    list-style-type: none;
    /* create custom counter and set it to 0 */
    /* counter-reset: elementcounter;*/
    padding-left:2em; text-indent:-2em;
}

#customlisttalk>li:before {
    /* print out "Element " followed by the current counter value */
    content: "[T" counter(elementcounter) "]";
    padding-right:0.2em; 
    /* increment counter */
    counter-increment: elementcounter -1;
}

#customlistpresentation {
    /* delete default counter */
    list-style-type: none;
    /* create custom counter and set it to 0 */
    /* counter-reset: elementcounter;*/
    padding-left:2em; text-indent:-2em;
}

#customlistpresentation>li:before {
    /* print out "Element " followed by the current counter value */
    content: "[P" counter(elementcounter) "]";
    padding-right:0.2em; 
    /* increment counter */
    counter-increment: elementcounter -1;
}
